@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(165, 165, 165);
}

header > h1 {
    color: white;
    padding: 10px;
    text-align: center;
}

#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    color: white;
    cursor: pointer;
}

#burguer:hover {
    background-color: rgb(95, 95, 95);
    color: white;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(95, 95, 95);
    padding: 10px;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

article > h2 {
    margin-bottom: 20px;
}

article > p {
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 20px;
}